@use '../abstract/variables';

.btn {
  margin: 3rem auto;
  &__main {
    position: relative;
    width: variables.$btn-size;
    height: variables.$btn-size;
    border-radius: 50%;
    background-color: variables.$color-white;
    color: variables.$color-primary;
    margin: 8.8rem;
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;

      width: variables.$btn-size;
      height: variables.$btn-size;
      border-radius: 50%;
      background-color: rgba(variables.$color-white, 0.1);
      opacity: 1;
      scale: 1;
      transition: all 500ms ease;
    }
    @media (hover: hover) {
      &:hover::after {
        opacity: 1;
        scale: 1.64;
      }
      &:active::after {
        scale: 1.4;
      }
    }
    @media (hover: none) {
      &:active::after {
        animation: pressButton 500ms ease;
      }
    }
  }
}
