@use '../abstract/variables';
@use '../abstract/mixins';

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;

  @include mixins.respond(tab-land) {
    font-size: 60%;
  }
  @include mixins.respond(tab-port) {
    font-size: 56.25%;
  }
  @include mixins.respond(phone) {
    font-size: 33.35%;
  }
  @include mixins.respond(big-desktop) {
    font-size: 75%;
  }
}

body {
  box-sizing: border-box;
  height: 100vh;
  margin: variables.$margin-side;
  color: variables.$color-secondary;
}

a,
a:link,
a:visited {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

::selection {
  background-color: variables.$color-white;
  color: variables.$color-primary;
}
