// LAYOUT
$margin-top: 24px;
$margin-side: 0 24px;

// COLOR
$color-primary: #0b0d17;
$color-secondary: #d0d6f9;

$color-white: #fff;
$color-white-hovered: rgba(255, 255, 255, 0.5);
$color-grey: #616476;

// FONT
$font-weight-regular: 400;
$line-height-paragraphe: 3.2rem;

$font-size-heading-1: 15rem;
$font-size-heading-2: 10rem;
$font-size-heading-3: 5.6rem;
$font-size-heading-4: 3.2rem;
$font-size-heading-5: 2.8rem;

$font-size-subheading-1: 2.8rem;
$font-size-subheading-2: 1.4rem;

$font-size-paragraphe: 1.8rem;

$font-size-navigation-link: 16px;

$font-size-btn: 3.2rem;

$font-space-subheading-2: 2.35;
$font-space-heading-5: 4.75;
$font-space-nav-text: 2.7;

// BORDER
$border-hovered-width: 3px;
